<div class="panel row no-margin-bottom">
    <div class="col s12">
        <h3>My Active Trades</h3>
    </div>
    <div class="col s12">
        <h4 class="margin-top">This list includes you are receiving from others</h4>
    </div>

    <div class="input-field col s12">
        <div class="switch">
            <label>
                <input type="checkbox" ng-model="trade.match" ng-change="trade.have(trade.match)">
                <span class="lever"></span>
                My Only
            </label>
        </div>
    </div>
    <poke-list url="api/card/trades" order="-updated_at" filter="trade._filter" per-page="10" class="col s12">
        <list-header>
            <div class="col s4">
                <div class="col s2">
                    #Trade
                </div>
                <div class="col s2">
                    Set
                </div>
                <div class="col s8">
                    Card
                </div>
            </div>
            <div class="col s4">
                <div class="col s2">
                    PP
                </div>
                <div class="col s2">
                    Status
                </div>
                <div class="col s4">
                    Sender
                </div>
                <div class="col s4">
                    Receiver
                </div>
            </div>
            <div class="col s4">
                <div class="col s5">
                    Updated
                </div>
                <div class="col s5">
                    Initiated
                </div>
            </div>
        </list-header>
        <item>
            <div class="col s4">
                <div class="col s2">
                    #{{ item.id_want }}
                </div>
                <div class="col s2">
                    {{ item.card.code_set }}
                </div>
                <div class="col s8 valign-wrapper">
                    <img-load poke-src="item.card.image_url"></img-load>

                    <span ng-show="item.status == 'sending'" class="margin-lateral">
                        <button ng-click="trade.showReport(item)" class="btn waves-light waves-effect btn-small red" title="Report Problem"><i class="material-icons">warning</i></button>
                    </span>

                    <a class="valign wrap" ng-href="/details/{{ item.card.id_card }}" title="{{ item.card.name_card }}" ng-class="{'red-text': item.id_status_want == 4}"> {{ item.card.name_card }}</a>
                </div>
            </div>
            <div class="col s4">
                <div class="col s2">
                    {{ item.pp }}
                </div>
                <div class="col s2">
                    {{ item.status }}
                </div>
                <div class="col s4" ng-show="item.user">
                    <a ng-href="/user/{{ item.user_from.id_user }}">{{ item.user_from.login }}</a>
                </div>
                <div class="col s4" ng-show="item.user">
                    <a ng-href="/user/{{ item.user.id_user }}">{{ item.user.login }}</a>
                </div>
            </div>
            <div class="col s4">
                <div class="col s5">
                    {{ item.updated_at  }}
                </div>
                <div class="col s5">
                    {{ item.created_at  }}
                </div>
                <div class="col s2">
                    <div class="col s12" ng-show="trade.showButton('Complete',item)" ng-class="trade.classButton(item)">
                        <button ng-click="trade.complete(item)" class="btn waves-light waves-effect btn-small light-green " title="Complete Trade"><i class="material-icons">thumb_up</i></button>
                    </div>
                    <div class="col s12" ng-class="trade.classButton(item)">
                        <a ng-href="trade/{{ item.id_want }}" class="btn waves-light waves-effect btn-small light-blue" title="Shipped card"><i class="material-icons">hourglass_empty</i></a>
                    </div>
                </div>
            </div>
        </item>
    </poke-list>
</div>


<div id="ratings" class="modal">
    <form ng-submit="trade.finishRating(trade.ratings)">
        <div class="modal-content">
            <div>
                <h3>Rating this trade</h3>
            </div>
            <div ng-repeat="ratings in trade.ratings">
                <div>
                    <h4>{{ ratings.description }}</h4>
                </div>
                <ul class="list-inline">
                    <li ng-repeat="rating in ratings.ratings" style="cursor: pointer;" ng-click="trade.selectRateing(ratings.ratings,rating)">
                        <div ng-if="rating.value">
                            <span>
                                <i class="material-icons">{{ rating.check?"star":"star_border" }}</i>
                            </span>
                        </div>
                        <div ng-if="!rating.value">
                            {{ rating.description }}
                        </div>
                    </li>
                </ul>  
            </div>
        </div>
        <div class="modal-footer btn-group">
            <button type="button" class="btn red white-text modal-close">Cancel</button>
            <button type="submit" class="btn blue white-text">Add</button>
        </div>
    </form>
</div>

<div id="report" class="modal">
    <form ng-submit="trade.report(trade.reportCard)">
        <div class="modal-content row">
            <h4 class="col s12"> Reason </h4>
            <label class="col s12">
                <textarea style="resize: none" class="form-control" ng-model="trade.reportCard.reason"></textarea>
            </label>
        </div>
        <div class="modal-footer btn-group">
            <button type="button" class="btn red white-text modal-close">Cancel</button>
            <button type="submit" class="btn blue white-text">Report</button>
        </div>
    </form>
</div>