
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$bg: #dadbdd;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $bg;
}

header{
  z-index: 2;
}
main {
  flex: 1 0 auto;

}

a{
  cursor: pointer;
}
a:hover{
  text-decoration: none;
}
nav{
  height: 120px;
  background-color: $bg;
  box-shadow: none !important;
  .user{
    height: 40%;
    line-height: 50px;
    background-color: black;
  }
  .menu{
    margin: 0 auto;
    height: 60%;
    padding: 0 100px;
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
    a{
      color: black;
    }
  }
}
.body{
  background-color: #f5f5f5;
}

.btn:hover{
  color: white;
}

.btn-small {
  height: 24px;
  line-height: 24px;
  padding: 0 0.5rem;
  font-size: 10px !important;
  font-weight: bold;
}

thead>tr>th{
  background-color: #cecece;
  padding: 2px 10px;
  font-size: 15px;
  border-radius: 0;
}

.btn{
  background-color: $btn;
}
.tabs .tab a{
  color: $btn
}
.btn:hover,.btn:focus,.tabs .indicator{
  background-color: $btn-hover;
}
.tabs .tab a:hover, .tabs .tab a:focus{
  color: $btn-hover;
}

tbody>tr>td {
  padding: 5px 5px;
}

.margin-top{
  margin-top: 20px;
}

table .materialboxed{
  width: 5vh;
}
table span{
  display: inline-block;
}

.user-img{
  width: 100%;
  padding: 0 10px 20px 10px;
}

.card{
  padding: 5px 10px;
  color: white;
}

span.badge{
  color: white;
}

.slider .indicators .indicator-item.active{
  background-color: $btn;
}

//.img-small>a{
//  background-color: red;
//}