<div class="margin-top">
    <div class="col s12 l7">
        <div class="center hide-on-med-and-down">
            <h2>Last Trades</h2>
        </div>
        <poke-list items="home.trades" per-page="10" hover="true" class="hide-on-med-and-down">
            <list-header>
                <div class="col s4">Card</div>
                <div class="col s2">To</div>
                <div class="col s2">From</div>
                <div class="col s1">PP</div>
                <div class="col s3">At</div>
            </list-header>
            <item>
                <div class="col s4">
                    <img-load poke-src="item.card.image_url" class="small-img"></img-load>
                    <a  ng-href="/details/{{ item.card.id_card }}">{{ item.card.name }}</a>
                </div>
                <div class="col s2"><a ng-href="/user/{{ item.user.id_user }}">{{ item.user.login }}</a></div>
                <div class="col s2"><a ng-href="/user/{{ item.user_from.id_user }}">{{ item.user_from.login }}</a></div>
                <div class="col s1">{{ item.pp }}</div>
                <div class="col s3">
                    {{ item.updated_at | custom_date }}
                </div>
            </item>
        </poke-list>
    </div>
    <div class="col l5 s12">
        <div class="center">
            <h2>Whats news ?</h2>
        </div>
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/img/banner_1.png">
                </li>
                <li>
                    <img src="/img/banner_2.png">
                </li>
                <li>
                    <img src="/img/banner_3.png">
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12">
        <h3>Process for send card</h3>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
        </ul>
    </div>
</div>	