<div>
    <h3>Wants</h3>
</div>
<div class="panel row">
    <div class="col s10">
        <h4 class="margin-top">Add want card and see all wants</h4>
    </div>
    <div class="col s2">
        <a href="/new-want" class="btn waves-light waves-effect btn-small btn-block margin-top">Add Want</a>
    </div>
    <!--<div class="input-field col s12 m4 offset-m8">-->
        <!--<input id="last_name" type="text" class="validate">-->
        <!--<label for="last_name">Search:</label>-->
    <!--</div>-->
    <table class="col s12 margin-top">
        <thead>
        <tr>
            <th class="col-sm-1 text-center">#Want</th>
            <th class="col-sm-1">PP</th>
            <th class="col-sm-1">Set</th>
            <th class="col-sm-3">Card</th>
            <th class="col-sm-3">User</th>
            <th class="col-sm-2">Rarity</th>
            <th class="col-sm-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="list in want.list" class="hoverable">
            <td class="text-center">#{{ list.id_want }}</td>
            <td>{{ list.pp }}</td>
            <td>{{ list.card.code_set }}</td>
            <td class="valign-wrapper">
                    <span>
                        <img class="materialboxed"
                             src="{{ list.card.image_url }}"
                             alt="{{ list.card.name }}">
                    </span>
                <a class="valign" ng-href="/details/{{ list.card.id_card }}">{{ list.card.name_card }}</a></td>
            </td>
            <td><a ng-href="/user/{{ list.user.id_user }}">{{ list.user.login }}</a></td>
            <td>{{ list.card.rarity }}</td>
            <td><button ng-disabled="(want.isMy(list.user) || want.isMy(list.user) == false && list.have == false)" ng-click="want.send(list)" class="btn waves-light waves-effect btn-small btn-block">Send</button></td>
        </tr>
        </tbody>
    </table>
</div>