<div class="margin-top">
    <div class="row">
        <div class="col s12 text-center">
            <h3>PokePoint</h3>
        </div>
        <div class="margin-top">
            <div class="col s12 m3 offset-m3">
                <ul class="collection with-header">
                    <li class="collection-header center-align">100 PP</li>
                    <li class="collection-item center-align">
                        <button class="btn btn-small btn-block waves-light waves-effect blue">Buy</button>
                    </li>
                    <li class="collection-item center-align">U$ 1,00</li>
                </ul>
            </div>
            <div class="col s12 m3">
                <ul class="collection with-header">
                    <li class="collection-header center-align">1100 PP (100 PP Free)</li>
                    <li class="collection-item center-align">
                        <button class="btn btn-small btn-block waves-light waves-effect blue">Buy</button>
                    </li>
                    <li class="collection-item center-align">U$ 10,00</li>
                </ul>
            </div>
        </div>
        <div class="col s12 text-center">
            <h3>Plans</h3>
        </div>
        <div class="margin-top">
            <div class="col s12 m4">
                <div class="text-center">
                    <img src="https://s3.amazonaws.com/pokemontcg/bw7/18.png" alt="">
                    <ul class="collection with-header">
                        <li class="collection-header center-align">Charmander</li>
                        <li class="collection-item center-align">Free</li>
                        <li class="collection-item center-align blue-text">Max PokePoint 5000</li>
                        <li class="collection-item center-align blue-text">Send and Receive Card</li>
                        <li class="collection-item center-align blue-text">Add want</li>
                        <li class="collection-item center-align blue-text">Watch card</li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="text-center">
                    <img src="https://s3.amazonaws.com/pokemontcg/bw7/19.png" alt="">
                    <ul class="collection with-header">
                        <li class="collection-header center-align">Charmeleon</li>
                        <li class="collection-item center-align">
                            <button class="btn btn-small btn-block waves-light waves-effect orange">Buy</button>
                        </li>
                        <li class="collection-item center-align">U$ 7,00</li>
                        <li class="collection-item center-align blue-text">Max PokePoint 20000</li>
                        <li class="collection-item center-align blue-text">Send and Receive Card</li>
                        <li class="collection-item center-align blue-text">Add want</li>
                        <li class="collection-item center-align blue-text">Watch card</li>
                        <li class="collection-item center-align orange-text">Sender Protection</li>
                        <li class="collection-item center-align orange-text">beneficio 2</li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="text-center">
                    <img src="https://s3.amazonaws.com/pokemontcg/bw7/20.png" alt="">
                    <ul class="collection with-header">
                        <li class="collection-header center-align">Charizard</li>
                        <li class="collection-item center-align">
                            <button class="btn btn-small btn-block waves-light waves-effect red">Buy</button>
                        </li>
                        <li class="collection-item center-align">U$ 15,00</li>
                        <li class="collection-item center-align blue-text">Max PokePoint *</li>
                        <li class="collection-item center-align blue-text">Send and Receive Card</li>
                        <li class="collection-item center-align blue-text">Add want</li>
                        <li class="collection-item center-align blue-text">Watch card</li>
                        <li class="collection-item center-align orange-text">Sender Protection</li>
                        <li class="collection-item center-align orange-text">beneficio 2</li>
                        <li class="collection-item center-align red-text">Ultimate Sender Protection</li>
                        <li class="collection-item center-align red-text">Kit ProPoke</li>
                    </ul>
                </div>
            </div>
            <div class="col s12">
                <p>*Sender Protection: Refound to 50% value card</p>
                <p>*Ultimate Sender Protection: Refound to 100% value card</p>
                <p>*Kit ProPoke: Enveloper, Shields, Gifts</p>
            </div>
        </div>
    </div>
</div>