<div class="margin-top">
    <div class="col s12 l7">
        <div class="center">
            <h2>Last Trades</h2>
        </div>
        <table>
            <thead>
            <tr>
                <th>Card</th>
                <th class="hide-on-med-and-down">To</th>
                <th class="hide-on-med-and-down">From</th>
                <th>PokePoint</th>
                <th>At</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="trade in home.trades | orderBy:'-updated_at'">
                <td class="valign-wrapper">
                    <img-load poke-src="trade.card.image_url"></img-load>
                    <a class="valign" ng-href="/details/{{ trade.card.id_card }}">{{ trade.card.name }}</a></td>
                </td>
                <td class="hide-on-med-and-down"><a ng-href="/user/{{ trade.user.id_user }}">{{ trade.user.login }}</a></td>
                <td class="hide-on-med-and-down"><a ng-href="/user/{{ trade.user_from.id_user }}">{{ trade.user_from.login }}</a></td>
                <td>{{ trade.pp }}</td>
                <td>{{ trade.updated_at | custom_date }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col l5 hide-on-med-and-down">
        <div class="center">
            <h2>Whats news ?</h2>
        </div>
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/img/banner_1.png">
                </li>
                <li>
                    <img src="/img/banner_2.png">
                </li>
                <li>
                    <img src="/img/banner_3.png">
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12">
        <h3>Process for send card</h3>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
        </ul>
    </div>
</div>