<div class="margin-top">
    <form ng-submit="newCard.search(newCard.filter)">
        <input type="hidden" ng-model="newCard.filter.limit">
        <div class="input-field col s3">
            <input name="set" id="set" class="form-control" type="text" ng-model="newCard.filter.set">
            <label for="set">Set</label>
        </div>
        <div class="input-field col s4">
            <input name="name" id="name" class="form-control" type="text" ng-model="newCard.filter.name">
            <label for="name">Card Name</label>
        </div>
        <div class="input-field col s2">
            <input name="number" id="number" class="form-control" type="text" ng-model="newCard.filter.number">
            <label for="number">Card Number</label>
        </div>
        <button type="submit" class="btn right">Search</button>
    </form>

    <div ng-show="!newCard.add">
        <table class="bordered highlight">
            <thead>
            <tr>
                <th class="col-sm-1">Set</th>
                <th class="col-sm-7">Card</th>
                <th class="col-sm-3">Rarity</th>
                <th class="col-sm-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="card in newCard.table" class="hoverable">
                <td>{{ card.code_set }}</td>
                <td>
                    <span><img class="materialboxed" src="{{ card.image_url }}" alt="{{ card.name_card }}"></span>
                    {{ card.name_card }}
                </td>
                <td>{{ card.rarity }}</td>
                <td><button ng-click="newCard.addCard(card)" class="btn waves-light waves-effect btn-small btn-block">Add</button></td>
            </tr>
            </tbody>
            <tfoot ng-show="newCard.table" >
            <tr>
                <td colspan="6">
                    <div class="right" ng-show="newCard.table_total_pagination > 1">
                        <button ng-disabled="(1 == newCard.filter.page)" ng-click="newCard.backPage()" class="btn"><</button>
                        <button ng-disabled="(page == newCard.filter.page)" ng-click="newCard.setPage(page)" class="btn" ng-repeat="page in newCard.table_pagination" ng-bind="page"></button>
                        <button ng-disabled="(newCard.table_total_pagination == newCard.filter.page)" ng-click="newCard.nextPage()" class="btn">></button>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div ng-show="newCard.add">
        <form ng-submit="newCard.save(newCard.new_card)">
            <div class="col s12">
                <hr>
            </div>
            <div class="margin-top">
                <div class="col s12 m4">
                    <img class="materialboxed" ng-src="{{ newCard.new_card.image_url }}" alt="{{ newCard.new_card.name_card }}">
                </div>
                <div class="col s12 m8">
                    <card card="newCard.new_card"></card>
                </div>
            </div>
            <div class="col s12">
                <hr>
            </div>
            <div class="col s12">
                <div class="input-field col s4">
                    <input name="amount" id="amount" class="form-control" type="text" ng-model="newCard.new_card.amount">
                    <label for="amount">Amount</label>
                </div>
                <div class="input-field col s2">
                    <input name="foil" id="foil" class="form-control" type="checkbox" ng-model="newCard.new_card.foil">
                    <label for="foil">Foil</label>
                </div>
                <div class="input-field col s2">
                    <input name="reverse_foil" id="reverse_foil" class="form-control" type="checkbox" ng-model="newCard.new_card.reverse_foil">
                    <label for="reverse_foil">Reverse Foil</label>
                </div>
                <div class="input-field col s2">
                    <input name="full_art" id="full_art" class="form-control" type="checkbox" ng-model="newCard.new_card.full_art">
                    <label for="full_art">Full Art</label>
                </div>
                <div class="col s2">
                    <button type="submit" class="waves-effect waves-light btn btn-small margin-top">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>