<div class="container margin-top">
    <div class="col s12 m2 center-align">
        <img class="user-img" src="/img/user-default.png" alt="default img">
    </div>
    <div class="col s8">
        <h4>Login: <strong>Messias</strong></h4>
        <p>Name: <strong>Lucas Messias</strong></p>
        <p>PokePoint: <strong>120</strong></p>
    </div>
    <div class="col s4 m2">
        <button class="btn btn-small">Edit</button>
        <button class="btn btn-small">Send Menssage</button>
    </div>
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4"><a class="active" href="#tab1">Profile</a></li>
            <!--<li class="tab col s4"><a href="#tab2">Cards</a></li>-->
            <li class="tab col s4"><a href="#tab3">Trades</a></li>
        </ul>
    </div>
    <div id="tab1" class="col s12 margin-top">
        <div class="col s12 m8">
            <div class="col s8 m4">
                <label>Name</label>
                <p>Lucas Messias</p>
            </div>
            <div class="col s4 m3">
                <label>Login</label>
                <p>Messias</p>
            </div>
            <div class="col s6 m3">
                <label>Create At</label>
                <p>20/01/2016</p>
            </div>
            <div class="col s6 m2">
                <label>Total Trades</label>
                <p>20</p>
            </div>
            <div class="col s8 m4">
                <label>Andress</label>
                <p>Rua do centro</p>
            </div>
            <div class="col s4 m2">
                <label>Number</label>
                <p>123</p>
            </div>
            <div class="col s4 m3">
                <label>District</label>
                <p>Centro</p>
            </div>
            <div class="col s4 m3">
                <label>City</label>
                <p>Ponta Grossa</p>
            </div>
            <div class="col s4 m2">
                <label>State</label>
                <p>Paraná</p>
            </div>
            <div class="col s4 m2">
                <label>Country</label>
                <p>Brasil</p>
            </div>
        </div>
        <div class="col s12 m4 center-align">
            <button class="btn btn-small">Envelop model</button>
        </div>
    </div>
    <div id="tab2" class="col s12 margin-top">

    </div>
    <div id="tab3" class="col s12 margin-top">

        <div class="col s12 m8">
            <div class="col s10">
                <p>Trade <a href="">Pikachu (#123/123)</a> with <a href="">Juquinha</a></p>
            </div>
            <div class="col s2">
                <p class="btn btn-small btn-block">SUCCESSFULL</p>
            </div>
            <div class="col s10">
                <p>Receive <a href="">Charizarde (#123/123)</a> from <a href="">Xiquinha</a></p>
            </div>
            <div class="col s2">
                <p class="btn btn-small btn-block">SUCCESSFULL</p>
            </div>
            <div class="col s10">
                <p>Trade <a href="">Margikarp (#123/123)</a> with <a href="">Perigo</a></p>
            </div>
            <div class="col s2">
                <p class="btn btn-small btn-block red">Canceled</p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="col offset-s2 s8">
                <ul class="collection with-header">
                    <li class="collection-header center-align">Resume</li>
                    <li class="collection-item center-align">Total Cards: 50</li>
                    <li class="collection-item center-align">Total Trades: 10</li>
                    <li class="collection-item center-align">Total Wants: 25</li>
                </ul>
            </div>
        </div>
    </div>
</div>