    <div class="container margin-top">
    <div class="col s12 m2 center-align">
        <img class="user-img" src="/img/user-default.png" alt="default img">
    </div>
    <div class="col s8">
        <h4>Login: <strong>{{ user.profile.login }}</strong></h4>
        <p>Email: <strong>{{ user.profile.email }}</strong></p>
        <p>Name: <strong>{{ user.profile.name }}</strong></p>
        <p>PokePoint: <strong>{{ user.profile.pp }}</strong></p>
    </div>
    <div class="col s4 m2 text-rigth" ng-show="(user.profile && user.user)">
        <button ng-show="user.user.id_user == user.profile.id_user" class="btn btn-small">Edit</button>
        <button ng-show="user.user.id_user != user.profile.id_user" class="btn btn-small">Send Menssage</button>
    </div>
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4"><a class="active" href="#tab1">Profile</a></li>
            <!--<li class="tab col s4"><a href="#tab2">Cards</a></li>-->
            <li class="tab col s4"><a href="#tab3">Trades</a></li>
        </ul>
    </div>
    <div id="tab1" class="col s12 margin-top">
        <div class="col s12 m8">
            <div class="col s8 m4">
                <label>Name</label>
                <p>{{ user.profile.name }}</p>
            </div>
            <div class="col s4 m3">
                <label>Login</label>
                <p>{{ user.profile.login }}</p>
            </div>
            <div class="col s6 m3">
                <label>Create At</label>
                <p>{{ user.profile.created_at }}</p>
            </div>
            <div class="col s6 m2">
                <label>Total Trades</label>
                <p>{{ user.profile.total_trade }}</p>
            </div>
            <div class="col s8 m4">
                <label>Andress</label>
                <p>{{ user.profile.andress }}</p>
            </div>
            <div class="col s4 m2">
                <label>Number</label>
                <p>{{ user.profile.number }}</p>
            </div>
            <div class="col s4 m3">
                <label>District</label>
                <p>{{ user.profile.district }}</p>
            </div>
            <div class="col s4 m3">
                <label>City</label>
                <p>{{ user.profile.city }}</p>
            </div>
            <div class="col s4 m2">
                <label>State</label>
                <p>{{ user.profile.state }}</p>
            </div>
            <div class="col s4 m2">
                <label>Country</label>
                <p>{{ user.profile.country }}</p>
            </div>
        </div>
        <div class="col s12 m4 center-align">
            <button class="btn btn-small">Envelop model</button>
        </div>
    </div>
    <div id="tab2" class="col s12 margin-top">

    </div>
    <div id="tab3" class="col s12 margin-top">

        <div class="col s12 m8">
            <div class="col s10">
                <p>Trade <a href="">Pikachu (#123/123)</a> with <a href="">Juquinha</a></p>
            </div>
            <div class="col s2">
                <p class="btn btn-small btn-block">SUCCESSFULL</p>
            </div>
            <div class="col s10">
                <p>Receive <a href="">Charizarde (#123/123)</a> from <a href="">Xiquinha</a></p>
            </div>
            <div class="col s2">
                <p class="btn btn-small btn-block">SUCCESSFULL</p>
            </div>
            <div class="col s10">
                <p>Trade <a href="">Margikarp (#123/123)</a> with <a href="">Perigo</a></p>
            </div>
            <div class="col s2">
                <p class="btn btn-small btn-block red">Canceled</p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="col offset-s2 s8">
                <ul class="collection with-header">
                    <li class="collection-header center-align">Resume</li>
                    <li class="collection-item center-align">Total Cards: {{ user.profile.cards.length }}</li>
                    <li class="collection-item center-align">Total Trades: {{ user.profile.trades.length }} ({{ user.profile.pp_trades }} pp)</li>
                    <li class="collection-item center-align">Total Wants: {{ user.profile.wants.length }} ({{ user.profile.pp_wants }} pp)</li>
                </ul>
            </div>
        </div>
    </div>
</div>