<div>
    <h3>Wants</h3>
</div>
<div class="panel row">
    <div class="col s10">
        <h4 class="margin-top">Add want card and see all wants</h4>
    </div>
    <div class="col s2">
        <a href="/new-want" class="btn waves-light waves-effect btn-small btn-block margin-top">Add Want</a>
    </div>
    <div class="input-field col s12">
        <div class="switch">
            <label>
                <input type="checkbox" ng-model="want.match" ng-change="want.have(want.match)">
                <span class="lever"></span>
                Match
            </label>
        </div>
    </div>
    <table class="col s12 margin-top">
        <thead>
        <tr>
            <th class="col-sm-1 text-center">#Want</th>
            <th class="col-sm-1">Set</th>
            <th class="col-sm-3">Card</th>
            <th class="col-sm-1">PP</th>
            <th class="col-sm-3">User</th>
            <th class="col-sm-2">Rarity</th>
            <th class="col-sm-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="list in want.list" class="hoverable" ng-show="(!list.warning || list.warning && want.user && list.user.id_user == want.user.id_user)">
            <td class="text-center">#{{ list.id_want }}</td>
            <td>{{ list.card.code_set }}</td>
            <td class="valign-wrapper">
                <img-load poke-src="list.card.image_url"></img-load>
                <span ng-if="list.warning" class="red-text small margin-lateral"> PP FAIL </span>
                <a class="valign" ng-href="/details/{{ list.card.id_card }}">{{ list.card.name_card }}</a>
            </td>
            <td>{{ list.pp }}</td>
            <td><a ng-href="/user/{{ list.user.id_user }}">{{ list.user.login }}</a></td>
            <td>{{ list.card.rarity }}</td>
            <td class="center">
                <button ng-hide="(want.isMy(list.user) || want.isMy(list.user) == false && list.have == false)" ng-disabled="(want.isMy(list.user) || want.isMy(list.user) == false && list.have == false)" ng-click="want.send(list)" class="btn waves-light waves-effect btn-small btn-block">Send</button>
                <button ng-show="want.isMy(list.user)" ng-click="want.send(list)" class="btn waves-light waves-effect btn-small btn-block red">Remove</button>
                <span ng-show="(!list.have && !want.isMy(list.user))" class="red-text">Don't have</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>